body {
  background-color: #b19cd9;
}
#box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  display: block;
  width: 600px;
  height: 420px;
}
#cat-head, #cat-body {
  position: absolute;
  margin: auto;
  background-color: #808080;
}
#cat-head {
  width: 22%;
  height: 25%;
  border-radius: 50%;
}
#cat-body {
  width: 35%;
  height: 35%;
  top: 15%;
  left: 0%;
  border-radius: 40% 60% 40% 40%;
}
.ears {
  position: absolute;
  width: 35%;
  height: 35%;
  top: -12%;
  background-color: #808080;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#earL {
  transform: rotate(340deg);
}
#earR {
  right: 0%;
  transform: rotate(20deg);
}
.eyes {
  position: absolute;
  width: 7%;
  height: 8%;
  top: 30%;
  background-color: black;
  border-radius: 50%;
}
#eyeL {
  left: 32%;
}
#eyeR {
  right: 32%;
}
#nose {
  position: absolute;
  width: 9%;
  height: 6%;
  top: 45%;
  left: 45%;
  background-color: black;
  border-radius: 50%;
  transform: rotate(180deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.whiskers {
  position: absolute;
  width: 13%;
  height: 6%;
  background-color: #808080;
  border-radius: 45%;
}
#w-1 {
  top: 50%;
  left: -10%;
  transform: rotate(350deg);
}
#w-2 {
  top: 58%;
  left: -8%;
  transform: rotate(340deg);
}
#w-3 {
  top: 67%;
  left: -6%;
  transform: rotate(330deg);
}
#w-4 {
  top: 48%;
  right: -10%;
}
#w-5 {
  top: 57%;
  right: -10%;
  transform: rotate(10deg);
}
.legs {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: #808080;
  border-radius: 50%;
}
#legL {
  bottom: -3%;
  left: 13%;
}
#legR {
  bottom: -4%;
  left: 25%;
}
#tail-1 {
  position: absolute;
  width: 45%;
  height: 20%;
  bottom: -25%;
  right: 10%;
  background-color: #808080;
  border-radius: 40% 20% 40% 40%;
}
#tail-2 {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: -20%;
  right: 0%;
  background-color: #808080;
  border-radius: 10% 30% 30% 35%;
  transform: rotate(338deg);
}
#tail-3 {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: -10%;
  right: -9%;
  background-color: #808080;
  border-radius: 10% 40% 40% 35%;
  transform: rotate(310deg);
}
#tail-4 {
  position: absolute;
  width: 22%;
  height: 22%;
  bottom: 3%;
  right: -13%;
  background-color: #808080;
  border-radius: 10% 45% 35% 35%;
  transform: rotate(280deg);
}
#tail-5 {
  position: absolute;
  width: 22%;
  height: 22%;
  bottom: 18%;
  right: -10.5%;
  background-color: #808080;
  border-radius: 0% 0% 50% 50%;
  transform: rotate(180deg);

}
