body {
  background-color: #b19cd9;
}
#box {
  position: relative;
  margin: auto;
  margin-top: 200px;
  display: block;
  width: 600px;
  height: 420px;
}
#cat-head, #cat-body {
  position: absolute;
  margin: auto;
  background-color: #808080;
}
#cat-head {
  width: 22%;
  height: 25%;
  border-radius: 50%;
}
#cat-body {
  width: 35%;
  height: 35%;
  top: 15%;
  left: 0%;
  border-radius: 40% 60% 40% 40%;
}
.ear {
  position: absolute;
  width: 35%;
  height: 35%;
  top: -12%;
  background-color: #808080;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#earL {
  transform: rotate(340deg);
}
#earR {
  right: 0%;
  transform: rotate(20deg);
}
.eye {
  position: absolute;
  width: 7%;
  height: 8%;
  top: 30%;
  background-color: black;
  border-radius: 50%;
}
#eyeL {
  left: 32%;
}
#eyeR {
  right: 32%;
}
#nose {
  position: absolute;
  width: 9%;
  height: 6%;
  top: 45%;
  left: 45%;
  background-color: black;
  border-radius: 50%;
  transform: rotate(180deg);
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
